<div class="layui-tab">
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="/head_imgs">头像库</a>
      <a><cite>修改头像</cite></a>
    </span>
    <%= render 'common/user_info' %>
  </div>

  <div class="x-body">
    <%= render 'form' %>
  </div>
</div>
