<div class="layui-tab">
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="">运营工具</a>
      <a href="/splash_ads"><cite>开屏广告</cite></a>
      <a><cite>新增开屏广告</cite></a>
    </span>
    <%= render 'common/user_info' %>
  </div>

  <div class="x-body">
    <%= render 'form' %>
  </div>
</div>
