<div class="layui-tab">
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="">权限设置</a>
      <a href="/admin/accounts">账号管理</a>
      <a><cite>新建账号</cite></a>
    </span>
    <%= render 'common/user_info' %>
  </div>

  <div class="x-body">
    <div class="layui-col-md8">
      <%= render 'form' %>
    </div>
  </div>
</div>
