<div class="layui-tab">
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <%= link_to "年级管理", :admin_picture_books %>
      <a><cite>新增推荐内容</cite></a>
    </span>
    <%= render 'common/user_info' %>
  </div>
  <div class="x-body">
    <%= render 'form' %>
  </div>
</div>
