<div class="layui-tab">
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <%= link_to "年级管理", :admin_picture_books %>
      <%= link_to "推荐内容", admin_grade_recommends_path(@grade) %>
      <a><cite>修改内容分组</cite></a>
    </span>
    <%= render 'common/user_info' %>
  </div>
  <div class="x-body">
    <%= render 'form' %>
  </div>
</div>
