<div class="layui-tab">
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="<%= admin_categories_path %>">分类管理</a>
      <a><cite><%= @category.name %></cite></a>
      <a><cite>二级管理</cite></a>
    </span>
    <%= render 'common/user_info' %>
  </div>

  <div class="x-body">
    <div class="layui-form" style="margin-bottom: 15px;">
      <div class="layui-form-item" style="margin: 0;">
        <div class="layui-inline">
          <a class="layui-btn layui-bg-blue" href="<%= new_admin_category_category_sub_path(@category) %>">
            <i class="layui-icon layui-icon-add-1"></i> 新增二级分类
          </a>
        </div>
      </div>

      <table class="layui-table">
      </table>
    </div>
  </div>
</div>
