<div class="layui-tab">
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="">内容管理</a>
      <%= link_to "绘本管理", :admin_picture_books %>
      <a><cite>新增绘本</cite></a>
    </span>
    <%= render 'common/user_info' %>
  </div>
  <div class="x-body">
    <%= render 'form' %>
  </div>
</div>
