<%= form_for(@supplier, url: @supplier.new_record? ? :admin_suppliers : :admin_supplier,method: @supplier.new_record? ? :post : :put, :html => {:class => "layui-form"}) do |f| %> 
  <div class="layui-form-item">
    <%= f.label :name, "名称", class: "layui-form-label" %>
    <div class="layui-input-block">
      <%= f.text_field :name, class: "layui-input", placeholder: "请输入供应商名称", lay_verify: "required", lay_reqtext: "名称不能为空" %>
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button type="submit" class="layui-btn layui-bg-blue" lay-submit lay-filter="submit-content">
        <i class="layui-icon layui-icon-release"></i>提交保存
      </button>
      <%= link_to "取消", :admin_suppliers, class: "layui-btn layui-btn-primary" %>
    </div>
  </div>
<% end %>

<script>
  layui.use(['form'], function(){
    var form = layui.form;
    form.render();
  });
</script>
