<div class="layui-tab">
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <%= link_to "出版社管理", :admin_suppliers %>
      <a><cite>新增出版社</cite></a>
    </span>
    <%= render 'common/user_info' %>
  </div>

  <div class="x-body">
    <%= render 'form' %>
  </div>
</div>
