<div class="layui-tab">
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="">内容管理</a>
      <%= link_to "学龄管理", :admin_grades %>
      <a><cite>修改年级</cite></a>
    </span>
    <%= render 'common/user_info' %>
  </div>

  <div class="x-body">
    <%= render 'form' %>
  </div>
</div>

<script>
  layui.use(['form'], function(){
    var form = layui.form;
    form.render();
  });
</script>
